<div class="nested-fields">
  <div class="field">
    <div class="form-group row">
      <%= f.label :name, '图片', class: 'col-3 col-form-label' %>
      <div class="col-9">
        <%= f.file_field :name, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="text-right">
    <%= link_to_remove_association "移除这张", f, class: 'btn btn-sm btn-primary' %>
  </div>
</div>
