<%= content_for :content do %>

  <%= render 'shared/title', title: '添加菜品' %>

  <div class="row">
    <div class="col-7">
      <div class="card mb-3 border-info">
        <div class="card-body">
          <h4 class="card-title text-center">添加菜品</h4>
          <%= render 'form', menu: @menu %>
        </div>
      </div>
    </div>
  </div>

<% end %>
