<br>
<br>
<br>
<br>
<div class="container">
  <div class="card border-info mb-3">
    <div class="card-body text-center">
      <br>
      <br>
      <br>
      <br>
      <h1>支付成功</h1>
      <br>
      <br>
      <br>
      <br>
    </div>
    <%= link_to '返回', wechat_orders_path, class: 'btn btn-block btn-outline-info' %>
  </div>
</div>


