<div class="nested-fields">
  <div class="form-group">
    <%= f.label :name, '图片' %>
    <div class="row">
      <div class="col-xs-6">
        <%= f.file_field :name %>
      </div>
      <div class="col-xs-3">
        <%= link_association_image @store, f %>
      </div>
      <div class="col-xs-3">
        <%= link_to_remove_association "移除这张", f, class: 'btn btn-primary btn-block btn-sm' %>
      </div>
    </div>
  </div>
</div>
