<%= content_for :content do %>
  <br>
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>


  <div class="row">
    <div class="col-7">
      <div class="card mb-3 border-info">
        <div class="card-body">
          <h4 class="card-title text-center">添加商铺</h4>
          <%= render 'form', store: @store %>
        </div>
      </div>
    </div>
  </div>

<% end %>
