<%= content_for :content do %>

  <div class="jumbotron">
    <span class="display-4"><%= @user.email %></span>
  </div>

  <div class="container">
    <div class="row">
      <% @user.stores.each do |store| %>
        <div class="col-4 my-3">
          <%= render 'stores/store', store: store %>
        </div>
      <% end %>
    </div>
  </div>

<% end %>
