<!-- Main content -->
<section class="content container-fluid">

  <%= line_chart User.group_by_month(:created_at).count, download: true %>
  <hr>
  <%= pie_chart Store.group(:name).count, download: true %>

</section>
