# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: cb8179e4d056880cf62bca8d87119bb84cc1a73dd1e276f9c905f750508b91f5c276eb41be8bef28f47d6d423979e3c48e4ebf67e2fcd763e639e63bc4248711

test:
  secret_key_base: bf69ea837fba77115008a2163c95954628b0776fbcab7053191951c831d728b00c61175c3f87d37997ca24c952e198681926f380fd247254c3a16814f8162cf0

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
