/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "dropzone/dropzone";

.bg-sidebar {
  border-right: 5px solid rgba(23, 162, 184, 0.5);
  height: 1580px;
  padding-top: 20px;
}

.list-group-item {
  border: none;
  text-align: center;
}

.fixed-action-btn {
  position: fixed;
  left: 0;
  bottom: 59px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
}

.circle-btn {
  height: 58px;
  padding-top: 12px;
  border-radius: 50%
}

.page-link {
  color: $secondary;
}

.custom-nav {
  padding: 0.8rem 3rem;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 1.25s linear;
  -moz-transition: opacity 1.25s linear;
  -ms-transition: opacity 1.25s linear;
  -o-transition: opacity 1.25s linear;
  transition: opacity 1.25s linear;
}